jobs:
  build:
    runs-on: windows-latest

    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build EXE (electron-builder)
        run: npm run dist

      - name: Upload built EXE
        uses: actions/upload-artifact@v4
        with:
          name: FreeDAB-exe
          path: dist/*.exe
